@media only screen and (min-width: 1200px){

nav, main, footer {
margin:auto;
}

/*Header*/

header {
  display: grid;
  grid-template-columns: 250px 250px 400px 400px 500px;
  grid-template-rows: 50px 100px;
  padding-bottom: 20px;
}

header h1 {
  margin: 0; 
  font-size: 40px;
  grid-column: 2;
  grid-row: 1;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  }

header h2{
margin: 0; 
font-size: 30px; 
font-weight: normal;
color: #ffffff;
grid-column: 2;
grid-row: 2;
margin-left: auto;
margin-right: auto;
padding-top: 25px;
}
              
#logo1 {
  width: 60%;
  max-width: 300px;
  border-radius: 5px;
  grid-column: 1;
  grid-row: 1;
  border: 1px solid #ccc;
  padding: 1px;
  margin-right: auto;
  margin-left: auto;
  } 




nav ul {
  font-size: 30px;
  grid-column: 2;
}

nav li {width:auto;}
nav a {padding: .5rem 1rem;}


nav {
  grid-column: 3;
  grid-row: 2;
  margin-left: 20px;
  margin-top: 45px;
}

/**Header finish here*/


/**General code*/

.content {
  position: relative;
  width: 80%;
  overflow: hidden;
  margin-top: 3em;
  margin-left: auto;
  text-align: center;
  margin-right: auto; 
}

p{
  font-size: 16px;
 }

.content h1{
 color: black;
}

article {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-top: 15px;
  padding: 15px;
}

/**General code finish here*/


/**Home*/

#advertising {
  position: sticky;
  top: 1px;
  left: 60px;
  width: 100%;
  font-size: .75em;
  background-color:#606c38;
  padding: 10px;
  background: #F2DDA4;
  box-shadow: 0 0 30px #111;
  background: linear-gradient(160deg, rgba(237,242,245,1) 0%,#283618 73%);
  text-align: center;
}
   
#advertising h1 {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
     }

.artcontent{
  display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 15px;
    padding: 15px;
    border: solid;
  }
.artcontent img {
    grid-column: 2;
    }
.artcontent h1{
  color: black;
}


#imag{
  width: 100%;
  margin-top: 15px;
}

#grid {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
#grid h2,p{
   color: black;
}

  #CurrentTemp{
    position: sticky;
    top: 60px;
    font-size: .75em;
    background-color: #606c38;
    padding: 10px;
    background: #F2DDA4;
    box-shadow: 0 0 30px #111;
    background: linear-gradient(160deg, rgba(237,242,245,1) 0%,#283618 73%);
    margin: 90px;
     }
   
  #CurrentTemp h1 {
       text-align: center;
       font-size: 40px;
       color: #ffffff;
  }
  #CurrentTemp p {
      text-align: center;
      font-size: 20px;
      color: #ffffff;
  }
  
  #forecast {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #283618;
      color: #F3E9D2;
      padding-bottom: 1.5rem;
  }

/**Home finish here*/



/**Rental*/

.rentalinfo section h2{
  text-align: center;
  color: black;

}

.rentalinfo section p,h1,h3{
  text-align: center;
  color: #ffffff;

}


.image_container img{
  width: 100%;
  max-width: 600px ;
}

.image_container{
  text-align: center;
}


.rentalinfo section {
  border: solid #BC6C25;
  margin: 100px;
  background-color: #DDA15E; 

}
.rentalinfo{
  border: solid #BC6C25;
  margin: 100px;
}

#artcontent p{
  text-align: center;
}

.rent{
  width: 300px;
  height: 190px;
}

.makereserv{
  color: #BC6C25;
}
/**Rental finish here*/




/**Reservation*/

textarea{
  display: block;
  font-size: 1rem;
  background-color: #F2DDA4;
  color: #555;
  border: solid 1px #999;
  border-radius: 2px;
  padding: .75rem;
  width: 90%;
  max-width: 20rem;
  margin-left: 70px
            
            }
  
  .contentform {
  position: relative;
  width: 80%;
  overflow: hidden;
  margin-top: 3em;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  }
            
  form{
  background-color: #ffffff;
  padding: 1.5em;
  margin: 1em 0;
  border-radius: 10px;
  border: solid;
              }
            
  form fieldset {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #114B5F;
  border-radius: 5px;
  color: #114B5F;
  width: 90%;
  max-width: 30rem;
  }

  
.agreement{
  margin-left: .25rem;
  margin-right: 1.5rem;
                }
.agreement p{
  text-align: center;
  }
  
.central{
    margin-left: 30px;
  }
  
  
  
.thanks img{
    width: 500px;
  }
  

/**Reservation finish here*/


/**Tour*/

.imgtour{
  max-width:700px ;
}

/**Tour finish here*/


/**Contact*/
.divcont{
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
#contact{
margin: 100px;
border: solid;
}

#contact h3{
  color: black;
  }



.builds{
max-width: 500px;
}

.builds1{
width: 500px;
margin-bottom: 60px;
}

.social-icons img {
width: 100%;
max-width: 25px;
padding-right: 1em;
align-content: center;
}
.icon-img{
max-width: 30px;
}
.icon-imgf{
grid-column: 7;
}
.icon-imgi{
grid-column: 8;
}
.icon-imgy{
grid-column: 9;
}

/**Contact finish here*/




.container{
grid-template-columns: 1fr 1fr 1fr; 
   }

 /*footer*/
footer{
  background-color: #283618;
  color: #ffffff;    
  text-align: center;
  border-radius: 2px solid;
  margin: 10px;
}

/*//////////////*/ 
  


                  
}












 
  
  





          